<?xml version="1.0"?>
<config>
    <modules>
        <Pektsekye_Ymm>
            <version>0.3.0</version>
        </Pektsekye_Ymm>
    </modules>
    <frontend>
        <routers>
            <ymm>
                <use>standard</use>
                <args>
                    <module>Pektsekye_Ymm</module>
                    <frontName>ymm</frontName>
                </args>
            </ymm>
        </routers>
        <layout>
            <updates>
                <ymm>
                    <file>ymm.xml</file>
                </ymm>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ymm>
				<use>admin</use>
				<args>
					<module>Pektsekye_Ymm</module>
					<frontName>ymm</frontName>
				</args>
			</ymm>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<ymm module="ymm">
				<title>Ymm</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="ymm">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>ymm/adminhtml_ymm</action>
					</items>
					<import module="ymm">
						<title>Import / Export</title>
						<sort_order>1</sort_order>
						<action>ymm/adminhtml_ymm/importExport</action>
					</import>					
				</children>
			</ymm>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Pektsekye_Ymm>
							<title>Ymm Module</title>
							<sort_order>10</sort_order>
						</Pektsekye_Ymm>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ymm>
					<file>ymm.xml</file>
				</ymm>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
			<catalog>
				<rewrite> 
					<category>Pektsekye_Catalog_Model_Category</category> 
				</rewrite> 
			</catalog> 	
			<catalog_resource_eav_mysql4>
				<rewrite> 
					<category>Pektsekye_Catalog_Model_Resource_Eav_Mysql4_Category</category> 
				</rewrite>			
			</catalog_resource_eav_mysql4>
			<catalogsearch>
				<rewrite> 
					<layer>Pektsekye_CatalogSearch_Model_Layer</layer> 
				</rewrite> 
			</catalogsearch> 			
            <ymm>
                <class>Pektsekye_Ymm_Model</class>
                <resourceModel>ymm_mysql4</resourceModel>
            </ymm>
            <ymm_mysql4>
                <class>Pektsekye_Ymm_Model_Mysql4</class>
                <entities>
                    <ymm>
                        <table>ymm</table>
                    </ymm>
                </entities>
            </ymm_mysql4>
        </models>
        <resources>
		
            <ymm_setup>
                <setup>
                    <module>Pektsekye_Ymm</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ymm_setup>
            <ymm_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ymm_write>
            <ymm_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ymm_read>
        </resources>
        <blocks>
            <ymm>
                <class>Pektsekye_Ymm_Block</class>
            </ymm>
        </blocks>
        <helpers>
            <ymm>
                <class>Pektsekye_Ymm_Helper</class>
            </ymm>
        </helpers>
    </global>
	
	<default>
		<catalog>
			<navigation>
				<filtering>1</filtering>
			</navigation>
			<search>
				<filtering>1</filtering>
			</search>
		</catalog>
	</default>	
	
</config>